<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Đây là giao diện của fedu</h1>
    <% dulieu.danhsachsv.forEach(function(ten){%>
        <li><%=ten%></li>
    <%})%>
    <%=
        JSON.stringify(dulieu)  
    %>
    <br>
    <%=dulieu%>
    </body>
</html>